/Backend/firebase-key.json
/.idea/.gitignore
/.idea/discord.xml
/.idea/Hackaton.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/Backend/__pycache__/misc.cpython-39.pyc
